.sidebar-aberta{
    margin-left: 22%;
}

.no-gutter {
   margin-right: 0 !important; /* Desativa a margem negativa */
   margin-left: 0 !important;  /* Se necessário, desative também a margem à esquerda */
}

/* sidebar.scss */

/* Estilo para resoluções menores que col-xl */
@media (max-width: 1199.98px) {
    .custom-col-9 {
      margin-left: 0; /* Redefine a margem para 0 para resoluções menores */
    }
  }

  /* Estilo para resoluções iguais ou maiores que col-xl */
  @media (min-width: 1200px) {
    .custom-col-9 {
      margin-left: 300px; /* Aplica a margem apenas para col-xl */
    }

    .custom-col-11 {
      margin-left: 100px; /* Aplica a margem apenas para col-xl */
    }
  }


.transition-side{
    transition: 0.4s ease;
}
