*{
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    // Colors
    --body-color:#E4E9F7;
    --sidebar-color:#FFF;
    --primary-color:#695CFE;
    --primary-color-ligth:#F6F5FF;
    --toggle-color:#DDD;
    --text-color:#707070;

    //Transition
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--trans-04);
}

body.dark{
    --body-color:#18191A;
    --sidebar-color:#242526;
    --primary-color:#3A3B3C;
    --primary-color-ligth:#3A3B3C;
    --toggle-color:#FFF;
    --text-color:#CCC;
}

//  ---------------Sidebar------------------
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--trans-05);

    & .text{
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color);
        transition: var(--trans-03);
        white-space: nowrap;
        opacity: 1;
    }

    & .image{
        min-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & li{
        height: 50px;
        margin-top: 10px;
        list-style: none;
        display: flex;
        align-items: center;

        &.sub-menu{
            height: 35px;
            margin-top: 7px;
        }

        & .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 60px;
            width: 20px;
            height: 20px;
            fill: var(--text-color);
            transition: var(--trans-02);
        }

        & .text{
            color: var(--text-color);
            transition: var(--trans-02);
        }

        & a{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            border-radius: 6px;
            transition: var(--trans-04);

            &:hover{
                background: var(--primary-color);

                &.sub-menu{
                    background: var(--toggle-color);
                }

                & .icon{
                    fill: var(--sidebar-color);
                }

                & .text{
                    color: var(--sidebar-color);
                }
            }
        }
    }

    & .image-text {
        & img{
            width: 40px;
            border-radius: 6px;
        }
    }

    & header{
        & .image-text{
            display: flex;
            align-items: center;

            & .header-text{
                display: flex;
                flex-direction: column;

                & .name{
                    font-weight: 600;
                }

                & .profession{
                    margin-top: -2px;
                }
            }
        }

        & .toggle{
            position: absolute;
            right: -13px;
            transform: translateY(-50%) rotate(180deg);
            height: 25px;
            width: 25px;
            background: var(--primary-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            fill: var(--sidebar-color);
            font-size: 22px;
            transition: var(--trans-03);
            cursor: pointer;
        }
    }

    & .menu-links{
        padding-left: 0;

        & .dropdown{
            position: absolute;
            right: 0;
            margin: 20px;
            transition: 0.3s ease;
            fill: var(--toggle-color);
        }

        & .dropmenu{
            cursor: pointer;
        }

        & .sub-link {
            margin: 0;
            display: none;

            &.open {
                display: block;
            }
        }

        & .dropdown.rotated {
            transform: rotate(90deg);
        }
    }

    & .menu{
        margin-top: 30px;
    }

    & .menu-bar{
        height: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .mode{
            position: relative;
            border-radius: 6px;
            background: var(--primary-color-ligth);

            & .moon-sun{
                height: 50px;
                width: 60px;
                display: flex;
                align-items: center;
            }

            & .i{
                position: absolute;
                transition: var(--trans-03);
            }

            & .sun{
                opacity: 0;
            }

            & .toggle-switch{
                position: absolute;
                display: flex;
                right: 0;
                align-items: center;
                justify-content: center;
                height: 100%;
                min-width: 60px;
                cursor: pointer;
                border-radius: 6px;
                background: var(--primary-color-ligth);

                & .switch{
                    position: relative;
                    height: 20px;
                    width: 44px;
                    border-radius: 25px;
                    background: var(--toggle-color);
                }
            }
        }
    }
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--trans-03);
}

.sidebar.close{
    width: 88px;

    & .dropdown{
        display: none;
    }

    & .text{
        opacity: 0;
    }

    & .sub-link{
        padding-left: 0;
    }

    & header{
        position: relative;

        & .toggle{
            transform: translateY(-50%);
            right: -27px;
        }
    }
}

//----------------Simple CSS----------------

body.dark .sidebar header .toggle{
    transform: translateY(-50%) rotate(180deg);
    fill: var(--text-color);
}

body.dark .sidebar.close header .toggle{
    transform: translateY(-50%);
}

body.dark .sidebar li a:hover .icon{
    fill: var(--text-color);
}

body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

body.dark .menu-bar .mode .sun{
    opacity: 1;
}

body.dark .menu-bar .mode .moon{
    opacity: 0;
}

body.dark .switch::before{
    left: 24px;
}



