// Cores para o modo claro
$background-light: #E4E9F7;
$sidebar-light: #FFF;
$primary-light: #695CFE;
$text-light: #707070;
$toggle-color: #DDD; // Adicione esta linha

// Cores para o modo escuro
$background-dark: #18191A;
$sidebar-dark: #242526;
$primary-dark: #3A3B3C;
$text-dark: #CCC;


// Transições
$transition-02: all 0.2s ease;
$transition-03: all 0.3s ease;
$transition-04: all 0.4s ease;
$transition-05: all 0.5s ease;
